*{
  background-color: black;
  color: white;
}
#root{
  display: flex;
  justify-content: center;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  border: 5px solid white;
  width: 30%;
}
.card-detail{
  display: flex;
  justify-content: space-between;
  background-color: black;
  border: 5px solid white;
  width: 90%;
  height: 75%;
}
.imagen-detail{
  height: 100%;
  width: 300px;
}
.detalles-detail{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
button{
  border-radius: 15px;
  background-color: white;
  color: black;
}
.detalles{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}
.imagen{
  width: 100%;
  height: 100%;
}
img{
  width: 70%;
  height: 80%;
}
.contenedor{
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.contenedor-cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home{
  height: 100hv;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor-item-list{
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}




ul,
li {
  list-style: none;
  white-space: nowrap;
}

li {
  display: inline;
}


/* Main container */

.main-container {
  width: 75%;
  height: 65%;
  margin: 0 auto;
}

/* Slider container */
.slider-container {
  position: relative;
  height: 100%
}

/* dots carrusel */
.dots-container {
  display: flex;
  justify-content: center;
}

.dot-container-item {
  margin: 8px 3px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}

/* Arrows */
.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.container-images {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #eee;
  overflow: hidden;
}

div.active {
  background: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.home{
  width: 90%;
  height: 100vh;
}